body {
    background-color: whitesmoke
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff
}

.card .card-block {
    padding: 1.25rem
}

.f-80 {
    font-size: 80px
}

.form-group {
    margin-bottom: 1.25em
}

.form-material .form-control {
    display: inline-block;
    height: 43px;
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    padding: 9px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc
}

.btn-primary {
    background-color: #4099ff;
    border-color: #4099ff;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s
}

.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer
}

.m-b-20 {
    margin-bottom: 20px
}

.heading {
    font-size: 21px
}
.navbar-brand {
    font-weight: bolder !important;
}
.navbar-brand:hover {
    color: yellow !important;
    transition: color 0.5s;
    transform: scale(1.2);
    transition: transform 0.5s;
}
.nav-link:hover {
    color: aqua !important;
    transition: color 0.5s;
    background-color: hsl(222, 62%, 32%);
    transition: background-color 0.5s;
    border-radius: 10px;
    font-size: 15px;
    transform: scale(1.2);
    transition: transform 0.5s;
}
.btn:hover {
    color: aliceblue !important;
    background-color: goldenrod !important;
    transition: background-color 0.5s;
    font-size: 15px !important;
    transition: color 0.5s;
}
.dropdown-item:hover {
    color: aqua !important;
    background-color: hsl(222, 62%, 32%) !important;
    transition: background-color 0.5s !important;
    border-radius: 10px !important;
    font-size: 15px !important;
    transition: color 0.5s;
}
.dropdown-item {
    width: 200px !important;
    margin-left: 0px !important;
}
nav div a {
    margin-left: 2rem;
}